<%#

Lesli

Copyright (c) 2025, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by LesliTech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<%= render LesliView::Layout::Container.new("admin-accounts") do %>
    <%= render LesliView::Element::Header.new("Account") %>

    <%= render(LesliView::Element::Form.new) do %>
        <div class="field">
            <label class="label">{{ translations.admin.column_company_name }}</label>
            <div class="control">
                <input class="input" type="text" v-model="storeAccount.account.name" >
            </div>
        </div>

        <div class="field">
            <label class="label">{{ translations.admin.column_company_name_legal }}</label>
            <div class="control">
                <input class="input" type="text" v-model="storeAccount.account.detail_attributes.company_name_legal">
            </div>
        </div>

        <div class="field">
            <label class="label">{{ translations.admin.column_tag_line }}</label>
            <div class="control">
                <input class="input" type="text" v-model="storeAccount.account.detail_attributes.company_tagline">
            </div>
        </div>

        <div class="field">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <lesli-button icon="save">
                            {{ translations.shared.button_save }}
                        </lesli-button>                 
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
