<p style="color: green"><%= notice %></p>

<% content_for :title, "Locations" %>

<h1>Locations</h1>

<div id="account_locations">
  <% @account_locations.each do |account_location| %>
    <%= render account_location %>
    <p>
      <%= link_to "Show this location", account_location %>
    </p>
  <% end %>
</div>

<%= link_to "New location", new_account_location_path %>
