<% content_for :title, "New location" %>

<h1>New location</h1>

<%= render "form", account_location: @account_location %>

<br>

<div>
  <%= link_to "Back to locations", account_locations_path %>
</div>
