<p style="color: green"><%= notice %></p>

<% content_for :title, "Settings" %>

<h1>Settings</h1>

<div id="account_settings">
  <% @account_settings.each do |account_setting| %>
    <%= render account_setting %>
    <p>
      <%= link_to "Show this setting", account_setting %>
    </p>
  <% end %>
</div>

<%= link_to "New setting", new_account_setting_path %>
